pydantic~=1.10.6
aiohttp>=3.8.5
langchain>=0.0.251
requests>=2.31.0
typer>=0.7.0
PyYAML~=6.0
setuptools~=65.5.1
annoy>=1.17.3
sentence-transformers>=2.2.2
fastapi>=0.96.0
starlette>=0.27.0
uvicorn>=0.22.0
httpx>=0.23.3
simpleeval>=0.9.13
typing-extensions>=4.5.0
Jinja2>=3.1.2
nest-asyncio>=1.5.6
